.angular-google-map-container {
  height: 400px;
}
body {
  background-color: #545454;
  font-family: Magra, sans-serif;
  margin: 0;
}

.home {
  margin: 0 auto;
  margin-top: 100px;
  width: 100px;
}

button {
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffaa4d;
  border: 0;
  border-style: none;
  width: 100px;
  height: 100px:
  display: block;
  padding: 10px;
  color: #545454;
  font-family: Magra, sans-serif;
  font-size: 12px;
  opacity: 0.85;
}


button:hover {
  margin: 0 auto;
  margin-top: 20px;
  border: 0;
  border-style: none;
  width: 100px;
  height: 100px:
  display: block;
  padding: 10px;
  color:  black;
  font-family: Magra, sans-serif;
  font-size: 12px;
}

.new-user {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 50%
}

img {
  margin-left: 43%;
  margin-top: 10%;

  height: 50px;
}

.user-profile, .delivery-details, .details-confirmation {
  background-color: #545454;
  opacity: .95;
  margin-top: 100px;
  width: 100%;
  height: relative;
  padding: 20px;

}

.headers {
  margin-left: 40%;

}

#pickup {
  position: absolute;
  top: -5%;
}

#dropoff {
  margin-left: 300px;
}

button#submit {
  margin-left: 18%;
}

button#new-delivery{
  margin-left: 45%;
}

button#available-deliveries {
  margin-left: 45%;
}

form{
  position: relative;
  left: 20%;
}

input{
  position: relative;
  margin: 3px;
  padding: 5px;
  width: 200px;
}

h2 {
  position: relative;
  left: 30%;
}
button#register, button#log-in {
  position: relative ;
  left: 17%;
}

button#home{
  position: relative ;
  left: 22%;
}
span {
  color: #BABABA;
}

#delivery-link{
  margin-left: 42%;
  text-decoration: none;
  padding: 15px;
}
#delivery-link:visited{
  text-decoration: none;
  color: black;
}

#delivery-link:hover{
  text-decoration: none;
  color: #BABABA;
}

hr {
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(186, 186, 186), rgba(0, 0, 0, 0));
}

.user-deliveries{
  margin; 0 auto;
}


video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
