HANLDR SHOW

<ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
</ui-gmap-google-map>

  <ul>
  {{ delivery.sender_name }}
  {{ delivery.pickup_line1 }}
  {{ delivery.pickup_line2 }}
  {{ delivery.pickup_postcode }}
  {{ delivery.recipient_name }}
  {{ delivery.dropoff_line1 }}
  {{ delivery.dropoff_line2 }}
  {{ delivery.dropoff_postcode }}
</ul>

<button id='return-delivery-list' ui-sref='handlr.deliveries'>Back to Deliveries</button>

<button ng-show='select' ng-click="findMyLocation()">Find Me</button>
<button ng-show='select' ng-click="directionsToPickup(marker, delivery)">Get Me There</button>

<button ng-show='select' ng-click="displayDirections(delivery)">See Route</button>

<button id='select-delivery' ng-show='select' ng-click="selectDelivery(delivery.id, {status: 'assigned', handlr_id: user.id})">Select Delivery</button>
<button id='collect-delivery' ng-show='collected' ng-click="collectDelivery(delivery.id, {status: 'collected'})">Collected</button>
<button id='complete-delivery' ng-show='delivered' ng-click="completeDelivery(delivery.id, {status: 'delivered'})">Delivered</button>
