  YO USERRRRR
<form ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           name="name"
           id="name"
           ng-model="registrationForm.name"
           required="required"
           class="form-control"/>

  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           name="email"
           id="email"
           ng-model="registrationForm.email"
           required="required"
           class="form-control"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           name="password"
           id="password"
           ng-model="registrationForm.password"
           required="required"
           class="form-control"/>
  </div>

  <!-- <div class="form-group">
    <input type="handlr_status"
           name="handlr_status"
           id="handlr_status"
           value="FALSE"
           ng-model="registrationForm.handlr_status"
           required="required"
           class="form-control"/>
  </div> -->

  <div class="form-group">
    <label for="password_confirmation">Password confirmation</label>
    <input type="password"
           name="password_confirmation"
           id="password_confirmation"
           ng-model="registrationForm.password_confirmation"
           required="required"
           class="form-control"/>
  </div>

  <button type="submit" id='register' class="btn btn-primary btn-lg" ng-click="findMyLocation()">Register</button>
</form>

<button id='home' ui-sref='handlr_sign_up'>CHANGED MY MIND. WANNA BE A HANDLR</button>
<button id='home' ui-sref='log-in'>WAIT. GOT AN ACCOUNT. LOG ME IN.</button>
