USER SHOW

<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
  <!-- <ui-gmap-marker coords="marker .coords" idkey="marker.id"></ui-gmap-marker> -->
</ui-gmap-google-map>
  DELIVERY STATUS {{ delivery.status }}
  <ul>
  {{ delivery.sender_name }}
  {{ delivery.pickup_line1 }}
  {{ delivery.pickup_line2 }}
  {{ delivery.pickup_postcode }}
  {{ delivery.recipient_name }}
  {{ delivery.dropoff_line1 }}
  {{ delivery.dropoff_line2 }}
  {{ delivery.dropoff_postcode }}
</ul>
<button id='return-delivery-list' ui-sref='user.profile'>Back to My Profile</button>

<!-- <button ng-show='select' ng-click="findMyLocation()">Find Me</button>
<button ng-show='select' ng-click="directionsToPickup(marker, delivery)">Get Me There</button>

<button ng-show='select' ng-click="displayDirections(delivery)">See Route</button> -->
