
<link rel='stylesheet' type='text/css' href='styles/deliveries_new.css'></link>
<button id="all-deliveries" ui-sref="user.profile">Back to My Profile</button>
  <div class="delivery-details">
    <div id='delivery-info'>
      <h1>Deliveries</h1>
      <ul>
      <li>{{ delivery.sender_name }}</li>
      <li>{{ delivery.pickup_line1 }}</li>
      <li>{{ delivery.pickup_line2 }}</li>
      <li>{{ delivery.pickup_postcode }}</li>
      <li>{{ delivery.recipient_name }}</li>
      <li>{{ delivery.dropoff_line1 }}</li>
      <li>{{ delivery.dropoff_line2 }}</li>
      <li>{{ delivery.dropoff_postcode }}</li>
    </ul>
      <div id="delivery-buttons">
        <button ng-show='select' ng-click="displayDirections(delivery)">See Route</button>
      </div>
    </div>

    <div id="newDeliveryMap">
      <button id='show-current-position' ng-click="findMyLocation()">Find Me</button>
      <ui-gmap-google-map ng-init="init()" center='map.center' zoom='map.zoom' options="options">
        <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

</div>
